@font-face {
  font-family: Fontix;
  src: url(Fontix-Regular.ttf);
}

@keyframes outline-bounce {
  0%   {outline: 0px solid #f97070;}
  75%   {outline: 5px solid #f97070;}
  100%   {outline: 3px solid #f97070;}
}

a,
a:focus {
  color: inherit;
  text-decoration: none;
}

html,
body {
  height: 100%;
  color: #f97070;
  background-color: #ff2;
  font-family: Fontix, sans-serif;
  font-size: 10pt;
  display: flex;
  justify-content: center;
}

.container {
  text-align: left;
  padding: 2.5rem;
  min-height: 100%;
  max-width: 24rem;
  min-width: 16rem;
}

.boxone {
  margin: 0 0 1rem 0;
  padding: 0;
}

.boxtwo {
  margin: 1rem 0 1rem 0;
}

.button {
  display: block;
  font-size: 1.5rem;
  line-height: 1.3em;
  padding: 0.5rem 1rem;
  border: 3px solid;
  margin: 1rem 0;
}

.button:hover {
  border: 3px #f97070 solid;
  color: #ff2;
  background-color: #f97070;
  outline: 3px solid #f97070;
  animation-name: outline-bounce;
  animation-duration: 0.2s;
}

.cardsbox {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

.card {
  margin: 0.5rem 1rem;
  border-left: 3px solid;
}

li {
  white-space: nowrap;
}

ul {
  list-style-position: inside;
  list-style-type: none;
  margin: 0;
  padding-left: 1rem;
}

/* smaller devices */
@media only screen and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  .container {
    padding: 1.5rem;
    min-width: 0;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  .card {
    margin: 0.5rem 2rem 0.5rem 0;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 340px) and (-webkit-min-device-pixel-ratio: 2) {
  .boxtwo {
    margin: 1.5rem 0 0 0;
  }

  .card {
    font-size: 0.9rem;
  }

  .label {
    display: none;
  }
}
